{% assign current_page = page.url | split: '/' | last | remove: '.html' %}
{% if current_page == '' %}{% assign current_page = 'index' %}{% endif %}
{% assign resource_pages = 'branding,contact,donations,whitepaper,discord,varrr' | split: ',' %}
{% assign resources_active = false %}
{% if resource_pages contains current_page %}{% assign resources_active = true %}{% endif %}
<header>
  <nav>
    <div class="wrapper">
      <div class="logo">
        <a href="{{ site.baseurl }}index"{% if current_page == 'index' %} aria-current="page"{% endif %}>
          <img alt="Main Pirate Chain Logo" src="{{ site.baseurl }}{{ site.img }}logo/Pirate_Logo_main.svg" />
        </a>
      </div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn">
          <img alt="" src="{{ site.baseurl }}{{ site.img }}icons/x.svg" />
        </label>
{% unless current_page == 'index' %}
        <li>
          <a class="home-link" href="{{ site.baseurl }}index" aria-label="Home">
            <svg class="home-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
              <path d="m3 10 9-7 9 7v10a1 1 0 0 1-1 1h-5v-7H9v7H4a1 1 0 0 1-1-1V10Z" />
            </svg>
          </a>
        </li>
{% endunless %}
        <li>
          <a href="{{ site.baseurl }}wallets"{% if current_page == 'wallets' %} aria-current="page"{% endif %}>Wallets</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}mining"{% if current_page == 'mining' %} aria-current="page"{% endif %}>Mining</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}exchanges"{% if current_page == 'exchanges' %} aria-current="page"{% endif %}>Exchanges</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}community"{% if current_page == 'community' %} aria-current="page"{% endif %}>Community</a>
        </li>
        <li>
          <a href="#" class="desktop-item{% if resources_active %} is-current{% endif %}">
            Resources
            <img alt="" src="{{ site.baseurl }}{{ site.img }}icons/caret.svg" />
          </a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item{% if resources_active %} is-current{% endif %}">
            Resources
            <img alt="" src="{{ site.baseurl }}{{ site.img }}icons/caret.svg"/>
          </label>
          <div class="mega-box">
            <div class="nav-content">
              <div class="row">
                <img src="{{ site.baseurl }}{{ site.img }}navbar/pirate-chain-flag-navigation.webp" alt="Pirate Flag" width="1912" height="1079" loading="lazy" decoding="async" />
              </div>
              <div class="row">
                <header>
                  Community
                </header>
                <ul class="mega-links">
                  <li>
                    <a href="{{ site.medium_publication_url }}">
                      <img alt="Pirate Chain Medium Publication" src="{{ site.baseurl }}{{ site.img }}icons/medium.svg" />
                      News
                    </a>
                  </li>                  
                  <li>
                    <a href="https://twitter.com/PirateChain">
                      <img alt="Pirate Chain Twitter Profile" src="{{ site.baseurl }}{{ site.img }}icons/twitter.svg" />
                      Twitter
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.discord_invite_url }}">
                      <img alt="Pirate Chain Discord Server" src="{{ site.baseurl }}{{ site.img }}icons/discord.svg" />
                      Discord
                    </a>
                  </li>
                  <li>
                    <a href="https://t.me/piratechain/">
                      <img alt="Pirate Chain Telegram Account" src="{{ site.baseurl }}{{ site.img }}icons/telegram.svg" />
                      Telegram
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}community#socials">
                      <img alt="All Pirate Social Platforms" src="{{ site.baseurl }}{{ site.img }}icons/socials.svg" />
                      Socials
                    </a>
                  </li>
                </ul>
              </div>
              <div class="row">
                <header>
                  Network
                </header>
                <ul class="mega-links">
                  <li>
                    <a href="https://explorer.piratechain.com/">
                      <img alt="Pirate Chain Network Block Explorer" src="{{ site.baseurl }}{{ site.img }}icons/cubes.svg" />
                      Explorer
                    </a>
                  </li>
                  <li>
                    <a href="https://explorer.piratechain.com/stats">
                      <img alt="Statistics of teh Pirate Network" src="{{ site.baseurl }}{{ site.img }}icons/chart.svg" />
                      Stats
                    </a>
                  </li>
                  <li>
                    <a href="https://anonset.dexstats.info/">
                      <img alt="Pirate Chain Annon Set" src="{{ site.baseurl }}{{ site.img }}icons/secret.svg" />
                      Anonset
                    </a>
                  </li>
                  <li>
                    <a href="https://dexstats.info/piratehash.php">
                      <img alt="ARRR Mining Hash Rate" src="{{ site.baseurl }}{{ site.img }}icons/pickaxe.svg" />
                      Hashrate
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}varrr"{% if current_page == 'varrr' %} aria-current="page"{% endif %}>
                      <img alt="" src="{{ site.baseurl }}{{ site.img }}site/varrr.svg" />
                      vARRR
                    </a>
                  </li>
                </ul>
              </div>
              <div class="row">
                <header>
                  Resources
                </header>
                <ul class="mega-links">
                  <li>
                    <a href="{{ site.whitepaper_url }}">
                      <img alt="Pirate Network Whitepaper" src="{{ site.baseurl }}{{ site.img }}icons/file.svg" />
                      Whitepaper
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}branding"{% if current_page == 'branding' %} aria-current="page"{% endif %}>
                      <img alt="Branding Guideline" src="{{ site.baseurl }}{{ site.img }}logo/Pirate_Logo_Ship_Gold.svg" />
                      Branding
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}donations"{% if current_page == 'donations' %} aria-current="page"{% endif %}>
                      <img alt="Pirate Community Donations" src="{{ site.baseurl }}{{ site.img }}icons/heart.svg" />
                      Donations
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.pirate_history_url | default: 'https://xkosiusx.github.io/piratechain-timeline/#' }}" target="_blank" rel="noopener noreferrer">
                      <img alt="" src="{{ site.baseurl }}{{ site.img }}logo/Pirate_Logo_Skull_Gold.svg" />
                      Pirate History
                    </a>
                  </li>
                  <li>
                    <a href="{{ site.baseurl }}contact" class="support"{% if current_page == 'contact' %} aria-current="page"{% endif %}>
                      <img alt="Pirate Community Support" src="{{ site.baseurl }}{{ site.img }}icons/people.svg" />
                      Support
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <label for="menu-btn" class="btn menu-btn">
        <img alt="menu" src="{{ site.baseurl }}{{ site.img }}icons/bars.svg" />
      </label>
    </div>
  </nav>
</header>
